{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<main>
  <div class="contenedor__todo">
      <div class="caja__trasera">
          <div class="caja__trasera-login">
              <h3>¿Ya tienes una cuenta?</h3>
              <h6>Inicio sesión</h6>
              <button id="btn__iniciar-sesion">Iniciar sesión</button>
          </div>
          <div class="caja__trasera-register">
              <h3>¿Aún no tienes una cuenta?</h3>
              <h6>Regístrate para que puedas iniciar sesión</h6>
              <button id="btn__registrar">Registrarse</button>
          </div>
      </div>
      <!--Formulario de login y Registro-->
      <div class="contenedor__login-register">
          <!--Login-->
          <form action="http://127.0.0.1:8000/" class="formulario__login" onsubmit="felicitarinic()">
              <h2>Iniciar sesión</h2>
              <input type="email" placeholder="correo Electronico" required>
              <input type="password" placeholder="contraseña" required minlength="6">
              <button type="submit">Entrar</button>
          </form>
           
          <form action="#" class="formulario__register" method="POST" onsubmit="felicitarCrea()">
            {%csrf_token%}
          <h2>Regístrarse</h2>
          <div class="row">
            {{usuario_form.NomCompleto}}
          </div>
          <div class="row">
            {{usuario_form.email}}
          </div>
          <div class="row">
            {{usuario_form.direccion}}
          </div>
          <div class="row">
            {{usuario_form.contraseña}}
          </div>
          <button type="submit" class="form-control" value="enviar">Regístrarse</button>
          </form>
      </div>
  </div>
</main> 
<script src="{% static 'core/js/script.js' %}"></script>

{% endblock%}