{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<desc>
    <h1 class="centrado colorLetra">¿Quiénes Somos?</h1><!--vision -->
  </desc>
   <div class="container">       
        <div class="row">
           
          <div class="col colorLetra" > <h3>Misión</h3> Nuestra Misión consiste en asistir a las mascotas de nuestra comunidad 
                            con un servicio de salud en manos de profesionales cuyas competencias 
                            han sido desarrolladas durante años de educación y permanente actualización
                            en las materias de la Medicina Veterinaria. Además de facilitar la adopción , 
                            recuperación y garantizar la tenencia responsable de mascotas.<br> <br>
                            <h3>Evidencia</h3> A continuación mostraremos  uno de los casos tratados por nuestra fundación.<br>
                            <iframe  src="https://www.facebook.com/plugins/video.php?height=315&href=https%3A%2F%2Fweb.facebook.com%2Ffundacioncruzadaanimalchile%2Fvideos%2F174235687646138%2F&show_text=false&width=560" 
                            width="380" height="257" style="border:none;overflow:hidden" scrolling="no" 
                            frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true">
                            </iframe>
          
                             
          </div>

          <div ></div><img class=" responsive"src="{% static 'core/img/esterilizacion.jpg' %}" width="698px" height="430px" > </div>
        </div>
    </div>







{% endblock %}